@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libertinus+Math&family=Mountains+of+Christmas:wght@400;700&family=Pacifico&display=swap");

body {
  font-family: "Libertinus Math", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
